@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {margin:0;padding:0;background-color:darkgray;}
ul {margin: 0px; list-style:none;padding:0px; }

#day-box {
  margin: 2px; 
}

#console-box{
  position:absolute;
  top:200px; 
  right:200px;
  height:400px;
  width:300px;
  background-color:#000;
  color: #55ff55;
  font-family: monospace;
  padding:6px; 
}
/* 
#tumbly-box {
 position:absolute; 
 top: 48px;
 left: 6%; 
 width: 580px; 
 height: 600px; 
 background-color: #FF5733;
 padding: 12px; 
 display:flex;
 flex-flow: column; 
 align-content: center;
 align-items: center;
 justify-content:center; 
} */


.tumbly-days-ones {
  list-style:none; 
  display:flex;
  width: 250px;
  height: 200px; 
  flex-flow: row wrap; 
  /* border: solid 2px;  */
  clear: right;  
}
.day-ones-box {
  height:50px;
  width:50px;
  background: tomato;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}


.selected {
  background-color: yellow;
  font-weight: bold; 
}

.form-check{

margin-left: 40px;

}
#btn2{

margin-top: 20%;
margin-left: 34%;
padding-right: 10%;
padding-left: 10%;
background-color: cadetblue;
}
p{
    font-family: monospace;
}