body{

  background-color:gainsboro;
}
#img1{

width: 450px;
height: 400px;
}

#img2{

width: 450px;
height:400px;

}
#btn1{
background-color: cadetblue;
margin: 5%;
/* padding-left: 20px;
padding-right: 20px; */
padding-right: 10%;
padding-left: 10%;
margin-left: 550px;
display: block;
right:50%;


}

p{

font-family: monospace;

}